{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true
}
